In [285]:
import pandas as pd
import numpy as np

In [286]:
dataset = pd.read_csv('deliveries.csv')

In [287]:
dataset.drop_duplicates()

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260916,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260917,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260918,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260919,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

In [544]:
match_stats = pd.read_csv('Match_Info.csv')

In [545]:
match_stats

,match_number,team1,team2,match_date,toss_winner,toss_decision,result,eliminator,winner,player_of_match,venue,city,team1_players,team2_players
0,392232,Royal Challengers Bangalore,Delhi Daredevils,2009-05-19,Delhi Daredevils,bat,Win,NaN,Royal Challengers Bangalore,JH Kallis,New Wanderers Stadium,Johannesburg,"RV Uthappa, JH Kallis, R Dravid, LRPL Taylor, ...","G Gambhir, V Sehwag, M Manhas, AB de Villiers,..."
1,548344,Kolkata Knight Riders,Royal Challengers Bangalore,2012-04-28,Kolkata Knight Riders,bat,Win,NaN,Kolkata Knight Riders,G Gambhir,Eden Gardens,Kolkata,"BB McCullum, G Gambhir, JH Kallis, YK Pathan, ...","TM Dilshan, CH Gayle, V Kohli, AB de Villiers,..."
2,392182,Royal Challengers Bangalore,Rajasthan Royals,2009-04-18,Royal Challengers Bangalore,bat,Win,NaN,Royal Challengers Bangalore,R Dravid,Newlands,Cape Town,"JD Ryder, RV Uthappa, LRPL Taylor, KP Pieterse...","GC Smith, SA Asnodkar, NK Patel, T Henderson, ..."
3,1082646,Delhi Daredevils,Royal Challengers Bangalore,2017-05-14,Royal Challengers Bangalore,bat,Win,NaN,Royal Challengers Bangalore,HV Patel,Feroz Shah Kotla,Delhi,"SV Samson, KK Nair, SS Iyer, RR Pant, MN Samue...","CH Gayle, Vishnu Vinod, V Kohli, TM Head, KM J..."
4,419108,Kings XI Punjab,Delhi Daredevils,2010-03-13,Delhi Daredevils,field,Win,NaN,Delhi Daredevils,G Gambhir,"Punjab Cricket Association Stadium, Mohali",Chandigarh,"RS Bopara, MS Bisla, KC Sangakkara, Yuvraj Sin...","G Gambhir, V Sehwag, TM Dilshan, AB de Villier..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1164,980999,Royal Challengers Bangalore,Kings XI Punjab,2016-05-18,Kings XI Punjab,field,Win,NaN,Royal Challengers Bangalore,V Kohli,M Chinnaswamy Stadium,Bangalore,"CH Gayle, V Kohli, AB de Villiers, KL Rahul, S...","M Vijay, HM Amla, WP Saha, DA Miller, Gurkeera..."
1165,598008,Royal Challengers Bangalore,Kolkata Knight Riders,2013-04-11,Royal Challengers Bangalore,field,Win,NaN,Royal Challengers Bangalore,CH Gayle,M Chinnaswamy Stadium,Bangalore,"CH Gayle, MA Agarwal, V Kohli, AB de Villiers,...","MS Bisla, G Gambhir, JH Kallis, YK Pathan, MK ..."
1166,1422128,Royal Challengers Bengaluru,Kolkata Knight Riders,2024-03-29,Kolkata Knight Riders,field,Win,NaN,Kolkata Knight Riders,SP Narine,"M Chinnaswamy Stadium, Bengaluru",Bengaluru,"Vijaykumar Vyshak, V Kohli, F du Plessis, C Gr...","CV Varun, PD Salt, SP Narine, VR Iyer, SS Iyer..."
1167,1254095,Sunrisers Hyderabad,Royal Challengers Bangalore,2021-10-06,Royal Challengers Bangalore,field,Win,NaN,Sunrisers Hyderabad,KS Williamson,"Zayed Cricket Stadium, Abu Dhabi",Abu Dhabi,"JJ Roy, Abhishek Sharma, KS Williamson, PK Gar...","V Kohli, D Padikkal, DT Christian, KS Bharat, ..."
1168,1359528,Royal Challengers Bangalore,Mumbai Indians,2023-05-09,Mumbai Indians,field,Win,NaN,Mumbai Indians,SA Yadav,"Wankhede Stadium, Mumbai",Mumbai,"V Kohli, F du Plessis, Anuj Rawat, GJ Maxwell,...","Ishan Kishan, RG Sharma, SA Yadav, N Wadhera, ..."

In [546]:
match_stats[match_stats['match_number'] == 335982]

,match_number,team1,team2,match_date,toss_winner,toss_decision,result,eliminator,winner,player_of_match,venue,city,team1_players,team2_players
1096,335982,Royal Challengers Bangalore,Kolkata Knight Riders,2008-04-18,Royal Challengers Bangalore,field,Win,NaN,Kolkata Knight Riders,BB McCullum,M Chinnaswamy Stadium,Bangalore,"R Dravid, W Jaffer, V Kohli, JH Kallis, CL Whi...","SC Ganguly, BB McCullum, RT Ponting, DJ Hussey..."

In [379]:
dataset['match_id'].value_counts()

match_id
1216517    269
392190     267
1426268    265
1082625    263
729315     262
          ...
392183     108
829807     106
598068     100
501265      63
1178424     51
Name: count, Length: 1095, dtype: int64

In [289]:
dataset[['player_dismissed', 'dismissal_kind', 'extras_type', 'fielder']] = dataset[['player_dismissed', 'dismissal_kind', 'extras_type', 'fielder']].fillna("None")

In [290]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260920 entries, 0 to 260919
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          260920 non-null  int64
 1   inning            260920 non-null  int64
 2   batting_team      260920 non-null  object
 3   bowling_team      260920 non-null  object
 4   over              260920 non-null  int64
 5   ball              260920 non-null  int64
 6   batter            260920 non-null  object
 7   bowler            260920 non-null  object
 8   non_striker       260920 non-null  object
 9   batsman_runs      260920 non-null  int64
 10  extra_runs        260920 non-null  int64
 11  total_runs        260920 non-null  int64
 12  extras_type       260920 non-null  object
 13  is_wicket         260920 non-null  int64
 14  player_dismissed  260920 non-null  object
 15  dismissal_kind    260920 non-null  object
 16  fielder           260920 non-null  object
dtypes: int64(8), object(9)
memory usage: 33.8+ MB

In [291]:
dataset.head(100)

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,None,None,None
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,None,0,None,None,None
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,None,None,None
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,None,0,None,None,None
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,None,0,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,15,2,DJ Hussey,AA Noffke,BB McCullum,1,0,1,None,0,None,None,None
96,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,15,3,BB McCullum,AA Noffke,DJ Hussey,2,0,2,None,0,None,None,None
97,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,15,4,BB McCullum,AA Noffke,DJ Hussey,0,0,0,None,0,None,None,None
98,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,15,5,BB McCullum,AA Noffke,DJ Hussey,1,0,1,None,0,None,None,None
99,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,15,6,DJ Hussey,AA Noffke,BB McCullum,0,0,0,None,0,None,None,None

In [292]:
all_batters = dataset['batter'].unique().tolist()

In [293]:
all_bowlers = dataset['bowler'].unique().tolist()

In [294]:
all_bowlers

['P Kumar',
 'Z Khan',
 'AA Noffke',
 'JH Kallis',
 'SB Joshi',
 'CL White',
 'AB Dinda',
 'I Sharma',
 'AB Agarkar',
 'SC Ganguly',
 'LR Shukla',
 'B Lee',
 'S Sreesanth',
 'JR Hopes',
 'IK Pathan',
 'K Goel',
 'PP Chawla',
 'WA Mota',
 'JDP Oram',
 'MS Gony',
 'M Muralitharan',
 'P Amarnath',
 'Joginder Sharma',
 'GD McGrath',
 'B Geeves',
 'MF Maharoof',
 'R Bhatia',
 'DL Vettori',
 'MM Patel',
 'SR Watson',
 'SK Trivedi',
 'SK Warne',
 'YK Pathan',
 'D Salunkhe',
 'R Vinay Kumar',
 'B Akhil',
 'A Nehra',
 'SM Pollock',
 'DS Kulkarni',
 'ST Jayasuriya',
 'Harbhajan Singh',
 'AM Nayar',
 'M Kartik',
 'Mohammad Hafeez',
 'DJ Hussey',
 'WPUJC Vaas',
 'RP Singh',
 'SB Styris',
 'SB Bangar',
 'A Symonds',
 'PP Ojha',
 'Pankaj Singh',
 'Mohammad Asif',
 'VY Mahesh',
 'Shahid Afridi',
 'DJ Bravo',
 'VS Yeligati',
 'MA Khote',
 'D Kalyankrishna',
 'VRV Singh',
 'Sohail Tanvir',
 'A Kumble',
 'DNT Zoysa',
 'SD Chitnis',
 'Yuvraj Singh',
 'Shoaib Malik',
 'DW Steyn',
 'JA Morkel',
 'CRD Fernando',
 'V Kohli',
 'V Sehwag',
 'Gagandeep Singh',
 'Y Venugopal Rao',
 'Umar Gul',
 'PJ Sangwan',
 'M Ntini',
 'DP Vijaykumar',
 'DB Ravi Teja',
 'LPC Silva',
 'DJ Thornely',
 'RR Raje',
 'SK Raina',
 'S Vidyut',
 'L Balaji',
 'CK Kapugedera',
 'DR Smith',
 'AD Mascarenhas',
 'A Mishra',
 'Shoaib Akhtar',
 'Iqbal Abdulla',
 'RR Powar',
 'PM Sarvesh Kumar',
 'Abdur Razzak',
 'RA Jadeja',
 'TM Dilshan',
 'RG Sharma',
 'A Nel',
 'BAW Mendis',
 'T Thushara',
 'A Flintoff',
 'SL Malinga',
 'Kamran Khan',
 'T Henderson',
 'JD Ryder',
 'DP Nannes',
 'AM Salvi',
 'YA Abdulla',
 'VS Malik',
 'FH Edwards',
 'Harmeet Singh',
 'CH Gayle',
 'MC Henriques',
 'KP Pietersen',
 'LRPL Taylor',
 'RS Bopara',
 'MK Tiwary',
 'Anureet Singh',
 'RR Bose',
 'KP Appanna',
 'Shoaib Ahmed',
 'BJ Hodge',
 'SR Tendulkar',
 'RE van der Merwe',
 'JP Duminy',
 'S Tyagi',
 'GR Napier',
 'SM Harwood',
 'AS Raut',
 'SB Jakati',
 'D du Preez',
 'RJ Harris',
 'TL Suman',
 'A Singh',
 'M Morkel',
 'LA Carseldine',
 'A Mithun',
 'C Nanda',
 'SS Sarkar',
 'AD Mathews',
 'AM Rahane',
 'J Botha',
 'Mashrafe Mortaza',
 'AB McDonald',
 'Y Nagar',
 'CK Langeveldt',
 'R Ashwin',
 'RA Shaikh',
 'Jaskaran Singh',
 'SW Tait',
 'A Uniyal',
 'AA Jhunjhunwala',
 'R McLaren',
 'AG Murtaza',
 'R Sathish',
 'RS Gavaskar',
 'JM Kemp',
 'S Ladda',
 'Bipul Sharma',
 'SE Bond',
 'KA Pollard',
 'S Narwal',
 'UT Yadav',
 'SJ Srivastava',
 'AC Voges',
 'R Sharma',
 'J Theron',
 'NLTC Perera',
 'KAJ Roach',
 'PD Collingwood',
 'C Ganapathy',
 'MB Parmar',
 'SB Wagh',
 'DE Bollinger',
 'JD Unadkat',
 'AP Dole',
 'AN Ahmed',
 'FY Fazal',
 'MR Marsh',
 'L Ablish',
 'S Sriram',
 'AJ Finch',
 'STR Binny',
 'ND Doshi',
 'TG Southee',
 'S Randiv',
 'AL Menaria',
 'DT Christian',
 'AUK Pathan',
 'RV Gomez',
 'JEC Franklin',
 'AC Thomas',
 'WD Parnell',
 'M Manhas',
 'NJ Rimmington',
 'RN ten Doeschate',
 'S Nadeem',
 'BA Bhatt',
 'JJ van der Wath',
 'S Aravind',
 'R Ninan',
 'Shakib Al Hasan',
 'PC Valthaty',
 'S Dhawan',
 'J Syed Mohammad',
 'VR Aaron',
 'NL McCullum',
 'JE Taylor',
 'KMDN Kulasekara',
 'P Parameswaran',
 'I Malhotra',
 'B Chipli',
 'B Kumar',
 'AA Kazi',
 'Anand Rajan',
 'P Prasanth',
 'Y Gnaneswara Rao',
 'AA Chavan',
 'S Rana',
 'JP Faulkner',
 'SS Mundhe',
 'RW Price',
 'GJ Maxwell',
 'M de Lange',
 'MN Samuels',
 'KK Cooper',
 'DAJ Bracewell',
 'HV Patel',
 'Ankit Sharma',
 'DJ Harris',
 'TP Sudhindra',
 'F du Plessis',
 'SP Narine',
 'GB Hogg',
 'RR Bhatkal',
 'P Awana',
 'V Pratap Singh',
 'CJ McKay',
 'AD Russell',
 'A Ashish Reddy',
 'Azhar Mahmood',
 'A Chandila',
 'P Negi',
 'LJ Wright',
 'RJ Peterson',
 'R Shukla',
 'MJ Clarke',
 'BW Hilfenhaus',
 'SPD Smith',
 'K Upadhyay',
 'Sunny Gupta',
 'MG Johnson',
 'JJ Bumrah',
 'S Badree',
 'AS Rajpoot',
 'B Laughlin',
 'GH Vihari',
 'Mohammed Shami',
 'BMAJ Mendis',
 'CH Morris',
 'S Kaul',
 'R Dhawan',
 'MM Sharma',
 'R Rampaul',
 'KV Sharma',
 'SMSM Senanayake',
 'JO Holder',
 'IC Pandey',
 'Sandeep Sharma',
 'YS Chahal',
 'DJG Sammy',
 'KW Richardson',
 'P Suyal',
 'PV Tambe',
 'BJ Rohrer',
 'Parvez Rasool',
 'MG Neser',
 'NM Coulter-Nile',
 'AC Gilchrist',
 'CJ Anderson',
 'MA Starc',
 'JDS Neesham',
 'AR Patel',
 'M Vijay',
 'R Tewatia',
 'SA Yadav',
 'Shivam Sharma',
 'Imran Tahir',
 'V Shankar',
 'LMP Simmons',
 'BCJ Cutting',
 'K Santokie',
 'S Gopal',
 'BE Hendricks',
 'PJ Cummins',
 'JW Hastings',
 'Karanveer Singh',
 'DJ Muthuswami',
 'TA Boult',
 'SA Abbott',
 'KC Cariappa',
 'DJ Hooda',
 'J Suchith',
 'RG More',
 'D Wiese',
 'MJ McClenaghan',
 'HH Pandya',
 'SN Thakur',
 'GS Sandhu',
 'Gurkeerat Singh',
 'J Yadav',
 'BB Sran',
 'M Ashwin',
 'C Munro',
 'CR Brathwaite',
 'MP Stoinis',
 'P Sahu',
 'Mustafizur Rahman',
 'AF Milne',
 'Kuldeep Yadav',
 'KH Pandya',
 'KJ Abbott',
 'T Shamsi',
 'S Kaushik',
 'SM Boland',
 'Swapnil Singh',
 'CJ Jordan',
 'A Zampa',
 'Sachin Baby',
 'N Rana',
 'DL Chahar',
 'KS Williamson',
 'TS Mills',
 'A Choudhary',
 'TM Head',
 'Rashid Khan',
 'BA Stokes',
 'CR Woakes',
 'T Natarajan',
 'RD Chahar',
 'B Stanlake',
 'Tejas Baroka',
 'Basil Thampi',
 'C de Grandhomme',
 'AJ Tye',
 'LH Ferguson',
 'Mohammad Nabi',
 'Mohammed Siraj',
 'K Rabada',
 'Washington Sundar',
 'SS Agarwal',
 'NB Singh',
 'RA Tripathi',
 'Ankit Soni',
 'MJ Henry',
 'Avesh Khan',
 'MA Wood',
 'M Markande',
 'Mujeeb Ur Rahman',
 'K Khejroliya',
 'K Gowtham',
 'DJM Short',
 'TK Curran',
 'A Dananjaya',
 'Shivam Mavi',
 'JC Archer',
 'LE Plunkett',
 'IS Sodhi',
 'MK Lomror',
 'L Ngidi',
 'KM Asif',
 'DJ Willey',
 'M Prasidh Krishna',
 'MM Ali',
 'JPR Scantlebury-Searles',
 'S Lamichhane',
 'CJ Dala',
 'KK Ahmed',
 'Navdeep Saini',
 'S Dube',
 'Rasikh Salam',
 'KMA Paul',
 'SM Curran',
 'CV Varun',
 'GC Viljoen',
 'Mandeep Singh',
 'P Ray Barman',
 'MJ Santner',
 'JP Behrendorff',
 'SC Kuggeleijn',
 'AS Joseph',
 'HF Gurney',
 'S Midhun',
 'R Parag',
 'LS Livingstone',
 'SN Khan',
 'Abhishek Sharma',
 'Arshdeep Singh',
 'SE Rutherford',
 'Harpreet Brar',
 'Y Prithvi Raj',
 'O Thomas',
 'AS Roy',
 'S Sandeep Warrier',
 'JL Pattinson',
 'SS Cottrell',
 'Ravi Bishnoi',
 'A Nortje',
 'I Udana',
 'TU Deshpande',
 'KL Nagarkoti',
 'Kartik Tyagi',
 'DR Sams',
 'Shahbaz Ahmed',
 'Abdul Samad',
 'JR Hazlewood',
 'DA Warner',
 'CJ Green',
 'P Dubey',
 'Monu Kumar',
 'KA Jamieson',
 'M Jansen',
 'C Sakariya',
 'JA Richardson',
 'RP Meredith',
 'LI Meriwala',
 'Lalit Yadav',
 'Jalaj S Saxena',
 'FA Allen',
 'PWH de Silva',
 'Umran Malik',
 'Akash Singh',
 'GD Phillips',
 'AK Markram',
 'GHS Garton',
 'VR Iyer',
 'K Yadav',
 'NT Ellis',
 'RV Patel',
 'IC Porel',
 'AU Rashid',
 'OF Smith',
 'Akash Deep',
 'PVD Chameera',
 'Mohsin Khan',
 'R Shepherd',
 'Mukesh Choudhary',
 'D Pretorius',
 'VG Arora',
 'YBK Jaiswal',
 'Tilak Varma',
 'DG Nalkande',
 'M Theekshana',
 'D Brevis',
 'R Powell',
 'KR Sen',
 'Yash Dayal',
 'Shashank Singh',
 'Aman Hakim Khan',
 'OC McCoy',
 'HR Shokeen',
 'A Badoni',
 'DJ Mitchell',
 'Harshit Rana',
 'SS Iyer',
 'K Kartikeya',
 'Simarjeet Singh',
 'Fazalhaq Farooqi',
 'R Sai Kishore',
 'Ramandeep Singh',
 'PH Solanki',
 'M Pathirana',
 'R Sanjay Yadav',
 'J Little',
 'RS Hangargekar',
 'Sikandar Raza',
 'Mukesh Kumar',
 'KR Mayers',
 'NA Saini',
 'RJW Topley',
 'MG Bracewell',
 'Arshad Khan',
 'C Green',
 'Yash Thakur',
 'Suyash Sharma',
 'SSB Magala',
 'Mohit Rathee',
 'MW Short',
 'Vijaykumar Vyshak',
 'Yudhvir Singh',
 'Arjun Tendulkar',
 'D Jansen',
 'Noor Ahmad',
 'Naveen-ul-Haq',
 'Mayank Dagar',
 'Gurnoor Brar',
 'AJ Hosein',
 'Akash Madhwal',
 'R Goyal',
 'T Stubbs',
 'Vivrant Sharma',
 'JE Root',
 'Nithish Kumar Reddy',
 'H Sharma',
 'Sumit Kumar',
 'N Burger',
 'L Wood',
 'SZ Mulani',
 'Naman Dhir',
 'G Coetzee',
 'Azmatullah Omarzai',
 'SH Johnson',
 'KT Maphaka',
 'M Siddharth',
 'MP Yadav',
 'R Ravindra',
 'KA Maharaj',
 'WG Jacks',
 'S Joseph',
 'Arshad Khan (2)',
 'M Shahrukh Khan',
 'N Thushara',
 'LB Williams',
 'RJ Gleeson',
 'MJ Suthar',
 'A Kamboj',
 'V Viyaskanth',
 'V Kaverappa',
 'Gulbadin Naib',
 'N Wadhera',
 'Atharva Taide']

In [295]:
all_batters

['SC Ganguly',
 'BB McCullum',
 'RT Ponting',
 'DJ Hussey',
 'Mohammad Hafeez',
 'R Dravid',
 'W Jaffer',
 'V Kohli',
 'JH Kallis',
 'CL White',
 'MV Boucher',
 'B Akhil',
 'AA Noffke',
 'P Kumar',
 'Z Khan',
 'SB Joshi',
 'PA Patel',
 'ML Hayden',
 'MEK Hussey',
 'MS Dhoni',
 'SK Raina',
 'JDP Oram',
 'S Badrinath',
 'K Goel',
 'JR Hopes',
 'KC Sangakkara',
 'Yuvraj Singh',
 'SM Katich',
 'IK Pathan',
 'T Kohli',
 'YK Pathan',
 'SR Watson',
 'M Kaif',
 'DS Lehmann',
 'RA Jadeja',
 'M Rawat',
 'D Salunkhe',
 'SK Warne',
 'SK Trivedi',
 'G Gambhir',
 'V Sehwag',
 'S Dhawan',
 'L Ronchi',
 'ST Jayasuriya',
 'DJ Thornely',
 'RV Uthappa',
 'PR Shah',
 'AM Nayar',
 'SM Pollock',
 'Harbhajan Singh',
 'S Chanderpaul',
 'LRPL Taylor',
 'AC Gilchrist',
 'Y Venugopal Rao',
 'VVS Laxman',
 'A Symonds',
 'RG Sharma',
 'SB Styris',
 'AS Yadav',
 'SB Bangar',
 'WPUJC Vaas',
 'RP Singh',
 'WP Saha',
 'LR Shukla',
 'DPMD Jayawardene',
 'S Sohal',
 'B Lee',
 'PP Chawla',
 'WA Mota',
 'Kamran Akmal',
 'Shahid Afridi',
 'DJ Bravo',
 'MA Khote',
 'A Nehra',
 'GC Smith',
 'Pankaj Singh',
 'RR Sarwan',
 'S Sreesanth',
 'VRV Singh',
 'SS Tiwary',
 'DS Kulkarni',
 'R Vinay Kumar',
 'AB Agarkar',
 'M Kartik',
 'I Sharma',
 'AM Rahane',
 'Shoaib Malik',
 'MK Tiwary',
 'KD Karthik',
 'R Bhatia',
 'MF Maharoof',
 'VY Mahesh',
 'TM Srivastava',
 'B Chipli',
 'DW Steyn',
 'DB Das',
 'MK Pandey',
 'HH Gibbs',
 'DNT Zoysa',
 'D Kalyankrishna',
 'SE Marsh',
 'SA Asnodkar',
 'Sohail Tanvir',
 'Salman Butt',
 'BJ Hodge',
 'Umar Gul',
 'AB Dinda',
 'SP Fleming',
 'S Vidyut',
 'JA Morkel',
 'AB de Villiers',
 'LPC Silva',
 'DB Ravi Teja',
 'Misbah-ul-Haq',
 'YV Takawale',
 'RR Raje',
 'PJ Sangwan',
 'Mohammad Asif',
 'GD McGrath',
 'Joginder Sharma',
 'MS Gony',
 'M Muralitharan',
 'M Ntini',
 'DT Patil',
 'A Kumble',
 'S Anirudha',
 'MM Patel',
 'CK Kapugedera',
 'A Chopra',
 'T Taibu',
 'J Arunkumar',
 'PP Ojha',
 'SP Goswami',
 'SR Tendulkar',
 'U Kaul',
 'TM Dilshan',
 'A Mishra',
 'AD Mascarenhas',
 'NK Patel',
 'LA Pomersbach',
 'Iqbal Abdulla',
 'Younis Khan',
 'PM Sarvesh Kumar',
 'DP Vijaykumar',
 'Shoaib Akhtar',
 'Abdur Razzak',
 'H Das',
 'DR Smith',
 'SD Chitnis',
 'CRD Fernando',
 'VS Yeligati',
 'L Balaji',
 'A Mukund',
 'RR Powar',
 'JP Duminy',
 'A Flintoff',
 'T Thushara',
 'JD Ryder',
 'KP Pietersen',
 'T Henderson',
 'Kamran Khan',
 'RS Bopara',
 'CH Gayle',
 'MC Henriques',
 'R Bishnoi',
 'FH Edwards',
 'KV Sharma',
 'PC Valthaty',
 'RJ Quiney',
 'AS Raut',
 'Yashpal Singh',
 'M Manhas',
 'AA Bilakhia',
 'AN Ghosh',
 'BAW Mendis',
 'DL Vettori',
 'MN van Wyk',
 'RE van der Merwe',
 'TL Suman',
 'Shoaib Ahmed',
 'GR Napier',
 'KP Appanna',
 'LA Carseldine',
 'NV Ojha',
 'SM Harwood',
 'M Vijay',
 'SB Jakati',
 'DA Warner',
 'RJ Harris',
 'D du Preez',
 'M Morkel',
 'AD Mathews',
 'J Botha',
 'C Nanda',
 'SL Malinga',
 'Mashrafe Mortaza',
 'A Singh',
 'GJ Bailey',
 'AB McDonald',
 'Y Nagar',
 'SS Shaikh',
 'R Ashwin',
 'Mohammad Ashraful',
 'CA Pujara',
 'OA Shah',
 'Anirudh Singh',
 'Jaskaran Singh',
 'AP Tare',
 'AT Rayudu',
 'R Sathish',
 'R McLaren',
 'AA Jhunjhunwala',
 'P Dogra',
 'A Uniyal',
 'MS Bisla',
 'YA Abdulla',
 'EJG Morgan',
 'JM Kemp',
 'S Tyagi',
 'RS Gavaskar',
 'SE Bond',
 'KA Pollard',
 'S Ladda',
 'DP Nannes',
 'MJ Lumb',
 'DR Martyn',
 'S Narwal',
 'AB Barath',
 'Bipul Sharma',
 'FY Fazal',
 'AC Voges',
 'MD Mishra',
 'UT Yadav',
 'J Theron',
 'SJ Srivastava',
 'R Sharma',
 'Mandeep Singh',
 'KM Jadhav',
 'SW Tait',
 'KB Arun Karthik',
 'KAJ Roach',
 'PD Collingwood',
 'CK Langeveldt',
 'VS Malik',
 'A Mithun',
 'AP Dole',
 'AN Ahmed',
 'RS Sodhi',
 'DE Bollinger',
 'S Sriram',
 'B Sumanth',
 'C Madan',
 'AG Paunikar',
 'MR Marsh',
 'AJ Finch',
 'STR Binny',
 'Harmeet Singh',
 'IR Jaggi',
 'DT Christian',
 'RV Gomez',
 'MA Agarwal',
 'AUK Pathan',
 'UBT Chand',
 'DJ Jacobs',
 'Sunny Singh',
 'NJ Rimmington',
 'AL Menaria',
 'WD Parnell',
 'JJ van der Wath',
 'R Ninan',
 'S Aravind',
 'MS Wade',
 'TD Paine',
 'SB Wagh',
 'AC Thomas',
 'JEC Franklin',
 'Shakib Al Hasan',
 'DH Yagnik',
 'S Randiv',
 'BJ Haddin',
 'NLTC Perera',
 'NL McCullum',
 'JE Taylor',
 'J Syed Mohammad',
 'RN ten Doeschate',
 'TR Birt',
 'AG Murtaza',
 'Harpreet Singh',
 'M Klinger',
 'AC Blizzard',
 'I Malhotra',
 'L Ablish',
 'CA Ingram',
 'S Nadeem',
 'P Parameswaran',
 'CJ Ferguson',
 'VR Aaron',
 'AA Chavan',
 'ND Doshi',
 'B Kumar',
 'Y Gnaneswara Rao',
 'S Rana',
 'BA Bhatt',
 'F du Plessis',
 'RE Levi',
 'GJ Maxwell',
 'SPD Smith',
 'MN Samuels',
 'SA Yadav',
 'KK Cooper',
 'JP Faulkner',
 'HV Patel',
 'DAJ Bracewell',
 'DJ Harris',
 'Ankit Sharma',
 'SP Narine',
 'GB Hogg',
 'RR Bhatkal',
 'CJ McKay',
 'N Saini',
 'DA Miller',
 'Azhar Mahmood',
 'P Negi',
 'RJ Peterson',
 'KMDN Kulasekara',
 'A Ashish Reddy',
 'V Pratap Singh',
 'BB Samantray',
 'MJ Clarke',
 'Gurkeerat Singh',
 'AP Majumdar',
 'PA Reddy',
 'K Upadhyay',
 'P Awana',
 'AD Russell',
 'A Chandila',
 'CA Lynn',
 'Sunny Gupta',
 'MC Juneja',
 'KK Nair',
 'GH Vihari',
 'MDKJ Perera',
 'R Shukla',
 'B Laughlin',
 'AS Rajpoot',
 'M Vohra',
 'JD Unadkat',
 'Mohammed Shami',
 'BMAJ Mendis',
 'R Rampaul',
 'CH Morris',
 'SV Samson',
 'SMSM Senanayake',
 'BJ Rohrer',
 'KL Rahul',
 'Q de Kock',
 'R Dhawan',
 'MG Johnson',
 'LJ Wright',
 'IC Pandey',
 'CM Gautam',
 'X Thalaivan Sargunam',
 'DJG Sammy',
 'KW Richardson',
 'MM Sharma',
 'UA Birla',
 'Parvez Rasool',
 'Sandeep Sharma',
 'S Kaul',
 'Sachin Baby',
 'PV Tambe',
 'NM Coulter-Nile',
 'CJ Anderson',
 'NJ Maddinson',
 'AR Patel',
 'JJ Bumrah',
 'JDS Neesham',
 'TG Southee',
 'MA Starc',
 'BR Dunk',
 'RR Rossouw',
 'Shivam Sharma',
 'YS Chahal',
 'LMP Simmons',
 'VH Zol',
 'BCJ Cutting',
 'Imran Tahir',
 'BE Hendricks',
 'S Gopal',
 'M de Lange',
 'R Tewatia',
 'JO Holder',
 'Karanveer Singh',
 'SS Iyer',
 'DJ Hooda',
 'Anureet Singh',
 'KS Williamson',
 'SA Abbott',
 'J Suchith',
 'RG More',
 'HH Pandya',
 'D Wiese',
 'SN Khan',
 'MJ McClenaghan',
 'DJ Muthuswami',
 'PJ Cummins',
 'SN Thakur',
 'JC Buttler',
 'CR Brathwaite',
 'MP Stoinis',
 'Ishan Kishan',
 'C Munro',
 'P Sahu',
 'KH Pandya',
 'AD Nath',
 'MJ Guptill',
 'KJ Abbott',
 'TM Head',
 'M Ashwin',
 'NS Naik',
 'RR Pant',
 'SW Billings',
 'KC Cariappa',
 'PSP Handscomb',
 'Swapnil Singh',
 'J Yadav',
 'UT Khawaja',
 'HM Amla',
 'F Behardien',
 'BB Sran',
 'A Zampa',
 'N Rana',
 'S Kaushik',
 'ER Dwivedi',
 'CJ Jordan',
 'TS Mills',
 'A Choudhary',
 'BA Stokes',
 'JJ Roy',
 'Vishnu Vinod',
 'Basil Thampi',
 'CR Woakes',
 'RA Tripathi',
 'DL Chahar',
 'V Shankar',
 'Rashid Khan',
 'RD Chahar',
 'LH Ferguson',
 'C de Grandhomme',
 'AF Milne',
 'S Badree',
 'Mohammad Nabi',
 'AJ Tye',
 'K Rabada',
 'Kuldeep Yadav',
 'Washington Sundar',
 'DM Bravo',
 'AR Bawne',
 'SP Jackson',
 'Ankit Soni',
 'TA Boult',
 'E Lewis',
 'MA Wood',
 'RK Singh',
 'DJM Short',
 'K Gowtham',
 'TK Curran',
 'M Markande',
 'B Stanlake',
 'Mujeeb Ur Rahman',
 'A Dananjaya',
 'Shubman Gill',
 'Shivam Mavi',
 'Mohammed Siraj',
 'H Klaasen',
 'RK Bhui',
 'JC Archer',
 'PP Shaw',
 'LE Plunkett',
 'Mustafizur Rahman',
 'AD Hales',
 'MK Lomror',
 'DR Shorey',
 'MM Ali',
 'M Prasidh Krishna',
 'P Chopra',
 'JPR Scantlebury-Searles',
 'Abhishek Sharma',
 'IS Sodhi',
 'SO Hetmyer',
 'S Dube',
 'Navdeep Saini',
 'JM Bairstow',
 'KMA Paul',
 'Rasikh Salam',
 'N Pooran',
 'P Ray Barman',
 'SM Curran',
 'GC Viljoen',
 'Avesh Khan',
 'S Lamichhane',
 'HF Gurney',
 'SD Lad',
 'AS Joseph',
 'R Parag',
 'MJ Santner',
 'JL Denly',
 'LS Livingstone',
 'KK Ahmed',
 'AJ Turner',
 'Harpreet Brar',
 'SE Rutherford',
 'Y Prithvi Raj',
 'P Simran Singh',
 'JL Pattinson',
 'A Nortje',
 'T Banton',
 'D Padikkal',
 'YBK Jaiswal',
 'RD Gaikwad',
 'TU Deshpande',
 'Abdul Samad',
 'PK Garg',
 'JR Philippe',
 'Kartik Tyagi',
 'KL Nagarkoti',
 'CV Varun',
 'I Udana',
 'Ravi Bishnoi',
 'Shahbaz Ahmed',
 'AT Carey',
 'N Jagadeesan',
 'T Natarajan',
 'P Dubey',
 'SS Cottrell',
 'Arshdeep Singh',
 'DR Sams',
 'M Jansen',
 'RM Patidar',
 'KA Jamieson',
 'M Shahrukh Khan',
 'JA Richardson',
 'Lalit Yadav',
 'Virat Singh',
 'FA Allen',
 'C Sakariya',
 'DJ Malan',
 'KS Bharat',
 'PWH de Silva',
 'VR Iyer',
 'GD Phillips',
 'GHS Garton',
 'AK Markram',
 'K Yadav',
 'T Shamsi',
 'NT Ellis',
 'RV Patel',
 'TL Seifert',
 'Anmolpreet Singh',
 'Anuj Rawat',
 'TH David',
 'DP Conway',
 'Tilak Varma',
 'R Powell',
 'PBB Rajapaksa',
 'RA Bawa',
 'OF Smith',
 'A Badoni',
 'PVD Chameera',
 'A Manohar',
 'R Shepherd',
 'DJ Willey',
 'D Pretorius',
 'JM Sharma',
 'VG Arora',
 'Mukesh Choudhary',
 'Umran Malik',
 'D Brevis',
 'B Sai Sudharsan',
 'Ramandeep Singh',
 'HE van der Dussen',
 'SS Prabhudessai',
 'Akash Deep',
 'JR Hazlewood',
 'KR Sen',
 'Aman Hakim Khan',
 'HR Shokeen',
 'Yash Dayal',
 'DJ Mitchell',
 'Shashank Singh',
 'B Indrajith',
 'Harshit Rana',
 'Mohsin Khan',
 'Simarjeet Singh',
 'M Theekshana',
 'AS Roy',
 'Fazalhaq Farooqi',
 'K Kartikeya',
 'RP Meredith',
 'KS Sharma',
 'T Stubbs',
 'R Sanjay Yadav',
 'A Tomar',
 'PN Mankad',
 'OC McCoy',
 'Sikandar Raza',
 'Rahmanullah Gurbaz',
 'KR Mayers',
 'Mukesh Kumar',
 'HC Brook',
 'AU Rashid',
 'C Green',
 'N Wadhera',
 'Arshad Khan',
 'Abishek Porel',
 'Dhruv Jurel',
 'MG Bracewell',
 'MW Short',
 'Mohit Rathee',
 'YV Dhull',
 'Yudhvir Singh',
 'Atharva Taide',
 'Liton Das',
 'PD Salt',
 'Vijaykumar Vyshak',
 'Abdul Basith',
 'Arjun Tendulkar',
 'JP Behrendorff',
 'AJ Hosein',
 'Naveen-ul-Haq',
 'Noor Ahmad',
 'JE Root',
 'KM Asif',
 'MD Shanaka',
 'Sanvir Singh',
 'Vivrant Sharma',
 'DG Nalkande',
 'R Ravindra',
 'SD Hope',
 'Sumit Kumar',
 'Azmatullah Omarzai',
 'Naman Dhir',
 'G Coetzee',
 'SZ Mulani',
 'Sameer Rizvi',
 'SH Johnson',
 'Akash Madhwal',
 'SB Dubey',
 'Mayank Dagar',
 'RJW Topley',
 'A Raghuvanshi',
 'Ashutosh Sharma',
 'Nithish Kumar Reddy',
 'Saurav Chauhan',
 'Kumar Kushagra',
 'BR Sharath',
 'WG Jacks',
 'J Fraser-McGurk',
 'Tanush Kotian',
 'KA Maharaj',
 'Arshad Khan (2)',
 'R Sai Kishore',
 'L Wood',
 'LB Williams',
 'AA Kulkarni',
 'MJ Suthar',
 'RJ Gleeson',
 'Gulbadin Naib',
 'D Ferreira',
 'A Kamboj',
 'T Kohler-Cadmore',
 'Shivam Singh',
 'V Viyaskanth']

In [296]:
sorted(all_batters)

['A Ashish Reddy',
 'A Badoni',
 'A Chandila',
 'A Chopra',
 'A Choudhary',
 'A Dananjaya',
 'A Flintoff',
 'A Kamboj',
 'A Kumble',
 'A Manohar',
 'A Mishra',
 'A Mithun',
 'A Mukund',
 'A Nehra',
 'A Nortje',
 'A Raghuvanshi',
 'A Singh',
 'A Symonds',
 'A Tomar',
 'A Uniyal',
 'A Zampa',
 'AA Bilakhia',
 'AA Chavan',
 'AA Jhunjhunwala',
 'AA Kulkarni',
 'AA Noffke',
 'AB Agarkar',
 'AB Barath',
 'AB Dinda',
 'AB McDonald',
 'AB de Villiers',
 'AC Blizzard',
 'AC Gilchrist',
 'AC Thomas',
 'AC Voges',
 'AD Hales',
 'AD Mascarenhas',
 'AD Mathews',
 'AD Nath',
 'AD Russell',
 'AF Milne',
 'AG Murtaza',
 'AG Paunikar',
 'AJ Finch',
 'AJ Hosein',
 'AJ Turner',
 'AJ Tye',
 'AK Markram',
 'AL Menaria',
 'AM Nayar',
 'AM Rahane',
 'AN Ahmed',
 'AN Ghosh',
 'AP Dole',
 'AP Majumdar',
 'AP Tare',
 'AR Bawne',
 'AR Patel',
 'AS Joseph',
 'AS Rajpoot',
 'AS Raut',
 'AS Roy',
 'AS Yadav',
 'AT Carey',
 'AT Rayudu',
 'AU Rashid',
 'AUK Pathan',
 'Abdul Basith',
 'Abdul Samad',
 'Abdur Razzak',
 'Abhishek Sharma',
 'Abishek Porel',
 'Akash Deep',
 'Akash Madhwal',
 'Aman Hakim Khan',
 'Anirudh Singh',
 'Ankit Sharma',
 'Ankit Soni',
 'Anmolpreet Singh',
 'Anuj Rawat',
 'Anureet Singh',
 'Arjun Tendulkar',
 'Arshad Khan',
 'Arshad Khan (2)',
 'Arshdeep Singh',
 'Ashutosh Sharma',
 'Atharva Taide',
 'Avesh Khan',
 'Azhar Mahmood',
 'Azmatullah Omarzai',
 'B Akhil',
 'B Chipli',
 'B Indrajith',
 'B Kumar',
 'B Laughlin',
 'B Lee',
 'B Sai Sudharsan',
 'B Stanlake',
 'B Sumanth',
 'BA Bhatt',
 'BA Stokes',
 'BAW Mendis',
 'BB McCullum',
 'BB Samantray',
 'BB Sran',
 'BCJ Cutting',
 'BE Hendricks',
 'BJ Haddin',
 'BJ Hodge',
 'BJ Rohrer',
 'BMAJ Mendis',
 'BR Dunk',
 'BR Sharath',
 'Basil Thampi',
 'Bipul Sharma',
 'C Green',
 'C Madan',
 'C Munro',
 'C Nanda',
 'C Sakariya',
 'C de Grandhomme',
 'CA Ingram',
 'CA Lynn',
 'CA Pujara',
 'CH Gayle',
 'CH Morris',
 'CJ Anderson',
 'CJ Ferguson',
 'CJ Jordan',
 'CJ McKay',
 'CK Kapugedera',
 'CK Langeveldt',
 'CL White',
 'CM Gautam',
 'CR Brathwaite',
 'CR Woakes',
 'CRD Fernando',
 'CV Varun',
 'D Brevis',
 'D Ferreira',
 'D Kalyankrishna',
 'D Padikkal',
 'D Pretorius',
 'D Salunkhe',
 'D Wiese',
 'D du Preez',
 'DA Miller',
 'DA Warner',
 'DAJ Bracewell',
 'DB Das',
 'DB Ravi Teja',
 'DE Bollinger',
 'DG Nalkande',
 'DH Yagnik',
 'DJ Bravo',
 'DJ Harris',
 'DJ Hooda',
 'DJ Hussey',
 'DJ Jacobs',
 'DJ Malan',
 'DJ Mitchell',
 'DJ Muthuswami',
 'DJ Thornely',
 'DJ Willey',
 'DJG Sammy',
 'DJM Short',
 'DL Chahar',
 'DL Vettori',
 'DM Bravo',
 'DNT Zoysa',
 'DP Conway',
 'DP Nannes',
 'DP Vijaykumar',
 'DPMD Jayawardene',
 'DR Martyn',
 'DR Sams',
 'DR Shorey',
 'DR Smith',
 'DS Kulkarni',
 'DS Lehmann',
 'DT Christian',
 'DT Patil',
 'DW Steyn',
 'Dhruv Jurel',
 'E Lewis',
 'EJG Morgan',
 'ER Dwivedi',
 'F Behardien',
 'F du Plessis',
 'FA Allen',
 'FH Edwards',
 'FY Fazal',
 'Fazalhaq Farooqi',
 'G Coetzee',
 'G Gambhir',
 'GB Hogg',
 'GC Smith',
 'GC Viljoen',
 'GD McGrath',
 'GD Phillips',
 'GH Vihari',
 'GHS Garton',
 'GJ Bailey',
 'GJ Maxwell',
 'GR Napier',
 'Gulbadin Naib',
 'Gurkeerat Singh',
 'H Das',
 'H Klaasen',
 'HC Brook',
 'HE van der Dussen',
 'HF Gurney',
 'HH Gibbs',
 'HH Pandya',
 'HM Amla',
 'HR Shokeen',
 'HV Patel',
 'Harbhajan Singh',
 'Harmeet Singh',
 'Harpreet Brar',
 'Harpreet Singh',
 'Harshit Rana',
 'I Malhotra',
 'I Sharma',
 'I Udana',
 'IC Pandey',
 'IK Pathan',
 'IR Jaggi',
 'IS Sodhi',
 'Imran Tahir',
 'Iqbal Abdulla',
 'Ishan Kishan',
 'J Arunkumar',
 'J Botha',
 'J Fraser-McGurk',
 'J Suchith',
 'J Syed Mohammad',
 'J Theron',
 'J Yadav',
 'JA Morkel',
 'JA Richardson',
 'JC Archer',
 'JC Buttler',
 'JD Ryder',
 'JD Unadkat',
 'JDP Oram',
 'JDS Neesham',
 'JE Root',
 'JE Taylor',
 'JEC Franklin',
 'JH Kallis',
 'JJ Bumrah',
 'JJ Roy',
 'JJ van der Wath',
 'JL Denly',
 'JL Pattinson',
 'JM Bairstow',
 'JM Kemp',
 'JM Sharma',
 'JO Holder',
 'JP Behrendorff',
 'JP Duminy',
 'JP Faulkner',
 'JPR Scantlebury-Searles',
 'JR Hazlewood',
 'JR Hopes',
 'JR Philippe',
 'Jaskaran Singh',
 'Joginder Sharma',
 'K Goel',
 'K Gowtham',
 'K Kartikeya',
 'K Rabada',
 'K Upadhyay',
 'K Yadav',
 'KA Jamieson',
 'KA Maharaj',
 'KA Pollard',
 'KAJ Roach',
 'KB Arun Karthik',
 'KC Cariappa',
 'KC Sangakkara',
 'KD Karthik',
 'KH Pandya',
 'KJ Abbott',
 'KK Ahmed',
 'KK Cooper',
 'KK Nair',
 'KL Nagarkoti',
 'KL Rahul',
 'KM Asif',
 'KM Jadhav',
 'KMA Paul',
 'KMDN Kulasekara',
 'KP Appanna',
 'KP Pietersen',
 'KR Mayers',
 'KR Sen',
 'KS Bharat',
 'KS Sharma',
 'KS Williamson',
 'KV Sharma',
 'KW Richardson',
 'Kamran Akmal',
 'Kamran Khan',
 'Karanveer Singh',
 'Kartik Tyagi',
 'Kuldeep Yadav',
 'Kumar Kushagra',
 'L Ablish',
 'L Balaji',
 'L Ronchi',
 'L Wood',
 'LA Carseldine',
 'LA Pomersbach',
 'LB Williams',
 'LE Plunkett',
 'LH Ferguson',
 'LJ Wright',
 'LMP Simmons',
 'LPC Silva',
 'LR Shukla',
 'LRPL Taylor',
 'LS Livingstone',
 'Lalit Yadav',
 'Liton Das',
 'M Ashwin',
 'M Jansen',
 'M Kaif',
 'M Kartik',
 'M Klinger',
 'M Manhas',
 'M Markande',
 'M Morkel',
 'M Muralitharan',
 'M Ntini',
 'M Prasidh Krishna',
 'M Rawat',
 'M Shahrukh Khan',
 'M Theekshana',
 'M Vijay',
 'M Vohra',
 'M de Lange',
 'MA Agarwal',
 'MA Khote',
 'MA Starc',
 'MA Wood',
 'MC Henriques',
 'MC Juneja',
 'MD Mishra',
 'MD Shanaka',
 'MDKJ Perera',
 'MEK Hussey',
 'MF Maharoof',
 'MG Bracewell',
 'MG Johnson',
 'MJ Clarke',
 'MJ Guptill',
 'MJ Lumb',
 'MJ McClenaghan',
 'MJ Santner',
 'MJ Suthar',
 'MK Lomror',
 'MK Pandey',
 'MK Tiwary',
 'ML Hayden',
 'MM Ali',
 'MM Patel',
 'MM Sharma',
 'MN Samuels',
 'MN van Wyk',
 'MP Stoinis',
 'MR Marsh',
 'MS Bisla',
 'MS Dhoni',
 'MS Gony',
 'MS Wade',
 'MV Boucher',
 'MW Short',
 'Mandeep Singh',
 'Mashrafe Mortaza',
 'Mayank Dagar',
 'Misbah-ul-Haq',
 'Mohammad Ashraful',
 'Mohammad Asif',
 'Mohammad Hafeez',
 'Mohammad Nabi',
 'Mohammed Shami',
 'Mohammed Siraj',
 'Mohit Rathee',
 'Mohsin Khan',
 'Mujeeb Ur Rahman',
 'Mukesh Choudhary',
 'Mukesh Kumar',
 'Mustafizur Rahman',
 'N Jagadeesan',
 'N Pooran',
 'N Rana',
 'N Saini',
 'N Wadhera',
 'ND Doshi',
 'NJ Maddinson',
 'NJ Rimmington',
 'NK Patel',
 'NL McCullum',
 'NLTC Perera',
 'NM Coulter-Nile',
 'NS Naik',
 'NT Ellis',
 'NV Ojha',
 'Naman Dhir',
 'Navdeep Saini',
 'Naveen-ul-Haq',
 'Nithish Kumar Reddy',
 'Noor Ahmad',
 'OA Shah',
 'OC McCoy',
 'OF Smith',
 'P Awana',
 'P Chopra',
 'P Dogra',
 'P Dubey',
 'P Kumar',
 'P Negi',
 'P Parameswaran',
 'P Ray Barman',
 'P Sahu',
 'P Simran Singh',
 'PA Patel',
 'PA Reddy',
 'PBB Rajapaksa',
 'PC Valthaty',
 'PD Collingwood',
 'PD Salt',
 'PJ Cummins',
 'PJ Sangwan',
 'PK Garg',
 'PM Sarvesh Kumar',
 'PN Mankad',
 'PP Chawla',
 'PP Ojha',
 'PP Shaw',
 'PR Shah',
 'PSP Handscomb',
 'PV Tambe',
 'PVD Chameera',
 'PWH de Silva',
 'Pankaj Singh',
 'Parvez Rasool',
 'Q de Kock',
 'R Ashwin',
 'R Bhatia',
 'R Bishnoi',
 'R Dhawan',
 'R Dravid',
 'R McLaren',
 'R Ninan',
 'R Parag',
 'R Powell',
 'R Rampaul',
 'R Ravindra',
 'R Sai Kishore',
 'R Sanjay Yadav',
 'R Sathish',
 'R Sharma',
 'R Shepherd',
 'R Shukla',
 'R Tewatia',
 'R Vinay Kumar',
 'RA Bawa',
 'RA Jadeja',
 'RA Tripathi',
 'RD Chahar',
 'RD Gaikwad',
 'RE Levi',
 'RE van der Merwe',
 'RG More',
 'RG Sharma',
 'RJ Gleeson',
 'RJ Harris',
 'RJ Peterson',
 'RJ Quiney',
 'RJW Topley',
 'RK Bhui',
 'RK Singh',
 'RM Patidar',
 'RN ten Doeschate',
 'RP Meredith',
 'RP Singh',
 'RR Bhatkal',
 'RR Pant',
 'RR Powar',
 'RR Raje',
 'RR Rossouw',
 'RR Sarwan',
 'RS Bopara',
 'RS Gavaskar',
 'RS Sodhi',
 'RT Ponting',
 'RV Gomez',
 'RV Patel',
 'RV Uthappa',
 'Rahmanullah Gurbaz',
 'Ramandeep Singh',
 'Rashid Khan',
 'Rasikh Salam',
 'Ravi Bishnoi',
 'S Anirudha',
 'S Aravind',
 'S Badree',
 'S Badrinath',
 'S Chanderpaul',
 'S Dhawan',
 'S Dube',
 'S Gopal',
 'S Kaul',
 'S Kaushik',
 'S Ladda',
 'S Lamichhane',
 'S Nadeem',
 'S Narwal',
 'S Rana',
 'S Randiv',
 'S Sohal',
 'S Sreesanth',
 'S Sriram',
 'S Tyagi',
 'S Vidyut',
 'SA Abbott',
 'SA Asnodkar',
 'SA Yadav',
 'SB Bangar',
 'SB Dubey',
 'SB Jakati',
 'SB Joshi',
 'SB Styris',
 'SB Wagh',
 'SC Ganguly',
 'SD Chitnis',
 'SD Hope',
 'SD Lad',
 'SE Bond',
 'SE Marsh',
 'SE Rutherford',
 'SH Johnson',
 'SJ Srivastava',
 'SK Raina',
 'SK Trivedi',
 'SK Warne',
 'SL Malinga',
 'SM Curran',
 'SM Harwood',
 'SM Katich',
 'SM Pollock',
 'SMSM Senanayake',
 'SN Khan',
 'SN Thakur',
 'SO Hetmyer',
 'SP Fleming',
 'SP Goswami',
 'SP Jackson',
 'SP Narine',
 'SPD Smith',
 'SR Tendulkar',
 'SR Watson',
 'SS Cottrell',
 'SS Iyer',
 'SS Prabhudessai',
 'SS Shaikh',
 'SS Tiwary',
 'ST Jayasuriya',
 'STR Binny',
 'SV Samson',
 'SW Billings',
 'SW Tait',
 'SZ Mulani',
 'Sachin Baby',
 'Salman Butt',
 'Sameer Rizvi',
 'Sandeep Sharma',
 'Sanvir Singh',
 'Saurav Chauhan',
 'Shahbaz Ahmed',
 'Shahid Afridi',
 'Shakib Al Hasan',
 'Shashank Singh',
 'Shivam Mavi',
 'Shivam Sharma',
 'Shivam Singh',
 'Shoaib Ahmed',
 'Shoaib Akhtar',
 'Shoaib Malik',
 'Shubman Gill',
 'Sikandar Raza',
 'Simarjeet Singh',
 'Sohail Tanvir',
 'Sumit Kumar',
 'Sunny Gupta',
 'Sunny Singh',
 'Swapnil Singh',
 'T Banton',
 'T Henderson',
 'T Kohler-Cadmore',
 'T Kohli',
 'T Natarajan',
 'T Shamsi',
 'T Stubbs',
 'T Taibu',
 'T Thushara',
 'TA Boult',
 'TD Paine',
 'TG Southee',
 'TH David',
 'TK Curran',
 'TL Seifert',
 'TL Suman',
 'TM Dilshan',
 'TM Head',
 'TM Srivastava',
 'TR Birt',
 'TS Mills',
 'TU Deshpande',
 'Tanush Kotian',
 'Tilak Varma',
 'U Kaul',
 'UA Birla',
 'UBT Chand',
 'UT Khawaja',
 'UT Yadav',
 'Umar Gul',
 'Umran Malik',
 'V Kohli',
 'V Pratap Singh',
 'V Sehwag',
 'V Shankar',
 'V Viyaskanth',
 'VG Arora',
 'VH Zol',
 'VR Aaron',
 'VR Iyer',
 'VRV Singh',
 'VS Malik',
 'VS Yeligati',
 'VVS Laxman',
 'VY Mahesh',
 'Vijaykumar Vyshak',
 'Virat Singh',
 'Vishnu Vinod',
 'Vivrant Sharma',
 'W Jaffer',
 'WA Mota',
 'WD Parnell',
 'WG Jacks',
 'WP Saha',
 'WPUJC Vaas',
 'Washington Sundar',
 'X Thalaivan Sargunam',
 'Y Gnaneswara Rao',
 'Y Nagar',
 'Y Prithvi Raj',
 'Y Venugopal Rao',
 'YA Abdulla',
 'YBK Jaiswal',
 'YK Pathan',
 'YS Chahal',
 'YV Dhull',
 'YV Takawale',
 'Yash Dayal',
 'Yashpal Singh',
 'Younis Khan',
 'Yudhvir Singh',
 'Yuvraj Singh',
 'Z Khan']

In [297]:
all_players = all_batters + all_bowlers

In [520]:
ipl_players = []
for player in all_players:
    if player not in ipl_players:
        ipl_players.append(player)

In [299]:
len(ipl_players)

732

In [516]:
batters_df = pd.DataFrame({'batter': ipl_players, 'runs': [0]*len(ipl_players)})

In [517]:
batters_df

              batter  runs
0         SC Ganguly     0
1        BB McCullum     0
2         RT Ponting     0
3          DJ Hussey     0
4    Mohammad Hafeez     0
..               ...   ...
727      M Siddharth     0
728         MP Yadav     0
729         S Joseph     0
730       N Thushara     0
731      V Kaverappa     0

[732 rows x 2 columns]

In [302]:
temp = dataset[['batter', 'batsman_runs']]

In [303]:
temp

             batter  batsman_runs
0        SC Ganguly             0
1       BB McCullum             0
2       BB McCullum             0
3       BB McCullum             0
4       BB McCullum             0
...             ...           ...
260915      SS Iyer             1
260916      VR Iyer             1
260917      VR Iyer             1
260918      SS Iyer             1
260919      VR Iyer             1

[260920 rows x 2 columns]

In [521]:
def find_total_score(batsman):
    new_df = temp[temp['batter'] == batsman]
    total_runs = 0
    for run in new_df['batsman_runs']:
        total_runs += int(run)
    return int(total_runs)

In [305]:
find_total_score('MS Dhoni')

5243

In [522]:
batters_df

              batter  runs
0         SC Ganguly  1349
1        BB McCullum  2882
2         RT Ponting    91
3          DJ Hussey  1322
4    Mohammad Hafeez    64
..               ...   ...
727      M Siddharth     0
728         MP Yadav     0
729         S Joseph     0
730       N Thushara     0
731      V Kaverappa     0

[732 rows x 2 columns]

In [534]:
batters_df = batters_df.sort_values(by='runs', ascending=False).reset_index(drop=True)

In [535]:
batters_df

              batter  runs
0            V Kohli  8014
1           S Dhawan  6769
2          RG Sharma  6630
3          DA Warner  6567
4           SK Raina  5536
..               ...   ...
727  Gagandeep Singh     0
728         B Geeves     0
729       P Amarnath     0
730          C Nanda     0
731      V Kaverappa     0

[732 rows x 2 columns]

In [537]:
batters_df[batters_df['batter'] == "V Kohli"].index[0]

np.int64(0)

In [306]:
batters_df.iloc[0,1]

np.int64(0)

In [ ]:
# batters_df.iloc[1,:]
for i in range(len(batters_df)):
    total_score = find_total_score(batters_df.iloc[i,0])
    batters_df.at[i, 'runs'] = total_score

In [308]:
dataset

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,None,None,None
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,None,0,None,None,None
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,None,None,None
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,None,0,None,None,None
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,None,0,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,AK Markram,VR Iyer,1,0,1,None,0,None,None,None
260916,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,AK Markram,SS Iyer,1,0,1,None,0,None,None,None
260917,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,None,0,None,None,None
260918,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,Shahbaz Ahmed,VR Iyer,1,0,1,None,0,None,None,None
260919,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,None,0,None,None,None

In [309]:
bowlers_df = pd.DataFrame({'bowlers': ipl_players, 'wickets': [0]*len(ipl_players)})

In [540]:
bowlers_df.sort_values(by='wickets', ascending=False)

       bowlers  wickets
382  YS Chahal      205
67   PP Chawla      192
71    DJ Bravo      183
299    B Kumar      181
315  SP Narine      180
..         ...      ...
480   AD Hales        0
183    NV Ojha        0
477    PP Shaw        0
185    M Vijay        0
123   DT Patil        0

[732 rows x 2 columns]

In [332]:
bowlers_stats = dataset[['bowler', 'is_wicket', 'dismissal_kind']]

In [337]:
bowlers_stats = bowlers_stats[~bowlers_stats['dismissal_kind'].isin(['run out', 'None', 'retired hurt', 'retired out', 'obstructing the field'])]

In [339]:
bowlers_stats

               bowler  is_wicket dismissal_kind
33             Z Khan          1         caught
74          JH Kallis          1         caught
106         AA Noffke          1         caught
131          I Sharma          1         bowled
138          AB Dinda          1         bowled
...               ...        ...            ...
260826   Harshit Rana          1         bowled
260848      SP Narine          1            lbw
260852     AD Russell          1         caught
260861     PJ Cummins          1         caught
260909  Shahbaz Ahmed          1            lbw

[11815 rows x 3 columns]

In [338]:
bowlers_df

             bowlers  wickets
0         SC Ganguly       10
1        BB McCullum        0
2         RT Ponting        0
3          DJ Hussey        8
4    Mohammad Hafeez        2
..               ...      ...
727      M Siddharth        1
728         MP Yadav        7
729         S Joseph        0
730       N Thushara        8
731      V Kaverappa        2

[732 rows x 2 columns]

In [328]:
def find_total_wickets(bowler):
    new_df = bowlers_stats[(bowlers_stats['bowler'] == bowler)]
    total_wickets = 0
    for wicket in new_df['is_wicket']:
        total_wickets += int(wicket)
    return int(total_wickets)

In [329]:
for i in range(len(bowlers_df)):
    total_wickets = find_total_wickets(bowlers_df.iloc[i,0])
    bowlers_df.at[i, 'wickets'] = total_wickets

In [541]:
bowlers_df[bowlers_df['bowlers'] == 'MS Dhoni']

     bowlers  wickets
19  MS Dhoni        0

In [349]:
balls = dataset['bowler']

In [350]:
balls

0               P Kumar
1               P Kumar
2               P Kumar
3               P Kumar
4               P Kumar
              ...
260915       AK Markram
260916       AK Markram
260917    Shahbaz Ahmed
260918    Shahbaz Ahmed
260919    Shahbaz Ahmed
Name: bowler, Length: 260920, dtype: object

In [351]:
balls = balls.value_counts().reset_index()

In [352]:
balls

            bowler  count
0         R Ashwin   4679
1        SP Narine   4146
2          B Kumar   4060
3        PP Chawla   3895
4        RA Jadeja   3895
..             ...    ...
525        SN Khan      2
526      DA Warner      2
527   AC Gilchrist      1
528    YBK Jaiswal      1
529  Atharva Taide      1

[530 rows x 2 columns]

In [357]:
ind_player = 'SS Iyer'

In [ ]:
bat_team = dataset[(dataset['batter'] == ind_player)]

In [372]:
teams_played1 = bat_team['batting_team'].unique().tolist()

In [373]:
teams_played1

['Delhi Daredevils', 'Delhi Capitals', 'Kolkata Knight Riders']

In [374]:
ball_team = dataset[(dataset['bowler'] == ind_player)]

In [375]:
teams_played1.extend(ball_team['bowling_team'].unique().tolist())

In [ ]:
teams_played=[]
for team in teams_played1:
    if team not in teams_played:
        teams_played.append(team)

teams_played

['Delhi Daredevils', 'Delhi Capitals', 'Kolkata Knight Riders']

In [440]:
match_stats['match_date'].describe

<bound method NDFrame.describe of 0       2009-05-19
1       2012-04-28
2       2009-04-18
3       2017-05-14
4       2010-03-13
           ...
1164    2016-05-18
1165    2013-04-11
1166    2024-03-29
1167    2021-10-06
1168    2023-05-09
Name: match_date, Length: 1169, dtype: object>

In [424]:
matches1 = match_stats[match_stats.apply(lambda row: ind_player in row['team1_players'] or row['result'] == 'Win', axis=1)]
matches2 = match_stats[match_stats.apply(lambda row: ind_player in row['team2_players'] or row['result'] == 'Win', axis=1)]

In [429]:
len(matches2) + len(matches1)

2297

In [438]:
matches1 = match_stats[match_stats.apply(lambda row: ((ind_player in row['team1_players']) and (row['result'] == 'Win')) and (row['team1'] == row['winner']), axis=1)]

In [443]:
import datetime
date = match_stats['match_date'].apply(lambda x: datetime.datetime.strptime(x, "%Y-%m-%d").date()).tolist()

In [449]:
year = [x.year for x in date]

In [450]:
match_stats['year'] = year

In [464]:
match_stats.drop(columns=['match_date', 'toss_decision', 'venue', 'city', 'eliminator', 'match_number', 'toss_winner'], inplace=True)

In [467]:
player_matches = match_stats[match_stats.apply(lambda row: ind_player in row['team1_players'], axis=1)]

In [468]:
player_matches

,team1,team2,result,winner,player_of_match,team1_players,team2_players,year
3,Delhi Daredevils,Royal Challengers Bangalore,Win,Royal Challengers Bangalore,HV Patel,"SV Samson, KK Nair, SS Iyer, RR Pant, MN Samue...","CH Gayle, Vishnu Vinod, V Kohli, TM Head, KM J...",2017
38,Delhi Capitals,Royal Challengers Bangalore,Win,Delhi Capitals,S Dhawan,"PP Shaw, S Dhawan, SS Iyer, RR Pant, CA Ingram...","PA Patel, V Kohli, AB de Villiers, S Dube, H K...",2019
57,Delhi Capitals,Rajasthan Royals,Win,Delhi Capitals,A Nortje,"PP Shaw, S Dhawan, AM Rahane, SS Iyer, MP Stoi...","BA Stokes, JC Buttler, SPD Smith, SV Samson, R...",2020
62,Delhi Daredevils,Chennai Super Kings,Win,Delhi Daredevils,Z Khan,"Q de Kock, SS Iyer, JP Duminy, Yuvraj Singh, J...","DR Smith, BB McCullum, SK Raina, F du Plessis,...",2015
81,Delhi Capitals,Royal Challengers Bangalore,Win,Royal Challengers Bangalore,KS Bharat,"PP Shaw, S Dhawan, RR Pant, SS Iyer, SO Hetmye...","V Kohli, D Padikkal, KS Bharat, AB de Villiers...",2021
...,...,...,...,...,...,...,...,...
1085,Delhi Daredevils,Kolkata Knight Riders,Win,Kolkata Knight Riders,UT Yadav,"MA Agarwal, SS Iyer, JP Duminy, MK Tiwary, Yuv...","RV Uthappa, G Gambhir, MK Pandey, SA Yadav, YK...",2015
1090,Punjab Kings,Rajasthan Royals,Win,Punjab Kings,Harpreet Brar,"Harpreet Brar, Priyansh Arya, P Simran Singh, ...","Fazalhaq Farooqi, YBK Jaiswal, V Suryavanshi, ...",2025
1111,Kolkata Knight Riders,Delhi Capitals,Win,Kolkata Knight Riders,SP Narine,"VG Arora, PD Salt, SP Narine, A Raghuvanshi, A...","KK Ahmed, DA Warner, PP Shaw, MR Marsh, Abishe...",2024
1161,Kolkata Knight Riders,Punjab Kings,Win,Punjab Kings,JM Bairstow,"AS Roy, PD Salt, SP Narine, VR Iyer, AD Russel...","Arshdeep Singh, P Simran Singh, JM Bairstow, R...",2024
1163,Punjab Kings,Delhi Capitals,Win,Delhi Capitals,Sameer Rizvi,"P Dubey, Priyansh Arya, P Simran Singh, JP Ing...","Mukesh Kumar, KL Rahul, F du Plessis, KK Nair,...",2025

In [486]:
years = pd.DataFrame(columns=['team', 'year'])

In [487]:
years

Empty DataFrame
Columns: [team, year]
Index: []

In [488]:
years['team'] = teams_played

In [491]:
years

                    team year
0       Delhi Daredevils
1         Delhi Capitals
2  Kolkata Knight Riders

In [490]:
years['year'] = years['year'].fillna("")

In [497]:
match_stats[match_stats.apply(lambda row: ind_player in row['team1_players'], axis=1)][['team1', 'year']].reset_index(drop=True)

                    team1  year
0        Delhi Daredevils  2017
1          Delhi Capitals  2019
2          Delhi Capitals  2020
3        Delhi Daredevils  2015
4          Delhi Capitals  2021
..                    ...   ...
68       Delhi Daredevils  2015
69           Punjab Kings  2025
70  Kolkata Knight Riders  2024
71  Kolkata Knight Riders  2024
72           Punjab Kings  2025

[73 rows x 2 columns]

In [499]:
teams_played

['Delhi Daredevils', 'Delhi Capitals', 'Kolkata Knight Riders']

In [510]:
def find_year(team, ind_player):
    new_df = match_stats[match_stats.apply(lambda row: ind_player in row['team1_players'] and row['team1'] == team, axis=1)][['team1', 'year']].reset_index(drop=True)
    team1 = new_df['year'].unique().tolist()

    new_df = match_stats[match_stats.apply(lambda row: ind_player in row['team2_players'] and row['team2'] == team, axis=1)][['team2', 'year']].reset_index(drop=True)
    team2 = new_df['year'].unique().tolist()
    years = team1 + team2
    ans = []
    for year in years:
        if year not in ans:
            ans.append(year)

    return ans

In [513]:
find_year('Kolkata Knight Riders', ind_player)

[2022, 2024]

In [ ]:
for i in range(len(years)):
    total_wickets = find_year(years.iloc[i,0])
    years.at[i, 'year'] += total_wickets + " "